   <div class="jumbotron">
        <h1>Welcome to my store!</h1>
        <p>This example!</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar">See all products &raquo;</a>
        </p>
      </div>

      <div class="row">
  <div class="col-sm-6 col-md-2">
    <a href="#">
      <img class="img-thumbnail" src="http://placehold.it/171x180">
    </a>
  </div>
   <div class="col-sm-6 col-md-2">
    <a href="#">
      <img class="img-thumbnail" src="http://placehold.it/171x180">
    </a>
  </div>
   <div class="col-sm-6 col-md-2">
    <a href="#">
      <img class="img-thumbnail" src="http://placehold.it/171x180">
    </a>
  </div>
   <div class="col-sm-6 col-md-2">
    <a href="#">
      <img class="img-thumbnail" src="http://placehold.it/171x180">
    </a>
  </div>
   <div class="col-sm-6 col-md-2">
    <a href="#">
      <img class="img-thumbnail" src="http://placehold.it/171x180">
    </a>
  </div>
   <div class="col-sm-6 col-md-2">
    <a href="#">
      <img class="img-thumbnail" src="http://placehold.it/171x180">
    </a>
  </div>
    <div class="col-sm-6 col-md-2">
    <a href="#">
      <img class="img-thumbnail" src="http://placehold.it/171x180">
    </a>
  </div>
   <div class="col-sm-6 col-md-2">
    <a href="#">
      <img class="img-thumbnail" src="http://placehold.it/171x180">
    </a>
  </div>
   <div class="col-sm-6 col-md-2">
    <a href="#">
      <img class="img-thumbnail" src="http://placehold.it/171x180">
    </a>
  </div>

</div>
