   <div class="jumbotron">
        <h1>Bienvenido a Gousto!</h1>
        <p>
        <div class="hidden-xs">
          <a class="btn btn-lg btn-primary homepagebutton" href="../../components/#navbar">Conoce cómo funcionamos &raquo;</a>
        </div>
        <div class="hidden-md hidden-lg hidden-sm vissible-xs">
          <a class="btn btn-lg btn-primary homepagebutton" href="../../components/#navbar">Cómo funcionamos &raquo;</a>
        </div>
          

        </p>
      </div>

<div class="row">

<% @products.each do |product| %>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a href="<%= product_path(product) %>" class="tooltip1 thumbnail" title="<%= product.name %>" data-toggle="tooltip">
             <img src="http://placehold.it/200x200" alt="<%= product.name %>" class="img-responsive">
        </a>
    </div>

<% end %>
  </div>
