// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbnail {
	margin-bottom:14px;
}
.logindropdown {
	padding-left:8px;
	padding-right:8px;
}
.homepagebutton:visited{
	color: white;
	display: inline !important;
}
.btn-xs {
    white-space: normal;
}